.one{
  width: 620px;
  height: 300px;
  border : 20px solid yellow;
  float: left  padding :10px;
  margin-left  :20px
  }
.two{
  width: 320px;
  border : 20px solid purple;
  float: right;
  height: 620px;
  padding :10px;
  margin :20px;
  }
.three{
  width: 320px;
  border : 20px solid blue;
  float: left;
  height: 300px;
  padding :10px;
  margin  :20px
  }
.four{
  width: 320px;
  border : 20px solid ;
  float: left;
  height: 300px;
  padding :10px;
  margin  :20px
  }
  .five{
    width: 320px;
    border : 20px solid grey ;
    float: right;
    height: 300px;
    padding :10px;
    margin  :20px
    }
  .six{
      width: 320px;
      border : 20px solid gold ;
      float: right;
      height: 300px;
      padding :10px;
      margin  :20px
      }
html{
position: fixed;
         border: 20px solid grey;

}
